// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.blogs{
  &__index{
    font-size:1.2em;
    margin-bottom:5px;
  }
  &--left{
    text-align:left;
  }
}
a:visited{color:#FFFFFF;}
